[Unit]
Description=Realm and Domain Configuration
Documentation=man:realmd(8)

[Service]
Type=dbus
BusName=org.freedesktop.realmd
ExecStart=/usr/lib/realmd/realmd
